.home {
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
}

.home-container .thumb {
  display: flex;
  align-items: center;
  text-align: center;
}

.home-container .thumb .img {
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
}

.market_cap {
  font-size: 25px;
}

.price_change {
  color: green;
  font-size: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.home-container {
  text-align: center;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
}

.green {
  color: green;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.red {
  color: red;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.percentage{
  display: flex;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 10px
}



/* media Queries */

@media only screen and (max-width: 768px) {
 .home-container .trending_coins {
  margin-top: 10px;
 }
 .price_change {
  font-size: 17px;
  display: flex;
 }
 .home-container .trending_coins {
  font-size: 10px;
 }
 .home-container .trending_info .index {
  font-size: 10px;
 }
 .home-container .trending_info  .coin_name {
  font-size: 10px;
 }
 .home-container .trending_info .coin_image .img{
  width: 20px;
  height: 20px;
 }
 .home-container .market_cap {
  font-size: 20px;
 }
 .home-container .price_change {
  font-size: 12px;
 }
}