.circle .desc {
    margin-top: 2px;
    color: #ccc;
    font-size: 10px;
}

.rounded {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.name .ellipses {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .coin-name .rounded {
        width: 20px;
        height: 20px;
    }

    .coin-name .name {
        font-size: 15px;
    }
}