.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
    background: linear-gradient(112.1deg,
    rgb(7, 29, 100) 11.4%,
    rgb(127, 148, 216) 70.2%);
  color: #ddd;
  border-bottom: 2px solid #3c3c3c;
}

.navbar .logo {
  width: max(12vw, 120px);
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: max(1vw, 12px);
}

.navbar select {
  padding: 8px 8px;
  border-radius: 6px;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  color: #fff;
}

.navbar option {
  background-color: #09005c;
  color: #fff;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  align-items: center;
}

.navbar button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #393939;
  background: #fff;
  border: none;
  cursor: pointer;
}

.navbar button img {
  width: 13px;
}

.pointer {
  cursor: pointer;
}

.exc {
  position: relative;
}

.options {
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(112.1deg,
    rgb(7, 29, 100) 11.4%,
    rgb(127, 148, 216) 70.2%);
  border: 1px solid #0073e6;
  box-shadow: 0 4px 6px rgba(8, 7, 7, 0.1);
  padding: 30px;
  margin-top: 40%;
  width: 350px;
  margin-right: 20%;
  z-index: 560;
}

.options.show {
  color: #fff;
  display: block; 
}

.exc:hover .options, 
.exc .options.show {  
  display: block;
  color: #fff;
}

.options a {
  display: block;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
}

.options a:hover {
  background-color: #f5f5f5;
  color: #0073e6;
}


.hamburger {
  display: none;
}

@media (max-width: 900px) {
  .navbar {
    padding: 20px 8%;
  }
  .navbar h3 {
    font-size: 18px;
  }
  .navbar button {
    gap: 8px;
    padding: 8px 18px;
    font-size: 12px;
  }
  .nav-right select {
    font-size: 10px !important;
  }
  .signup_button .button {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 5%;
    width: 100%;
  }
  .navbar .ul {
    display: none;
  }
  .navbar button img {
    width: 12px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .open {
    display: block;
    position: relative;
  }
  .close {
    display: none;
    position: relative;
  }
  .mobile_menus {
    display: flex;
    margin-top: 30px;
    background-color: #09005c;
    position: absolute;
    top: 100%;
    color: red !important;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    opacity: 100;
    transition: left 0.3s ease-in-out;
  }
  .open {
    left: 0;
  }
  .mobile_menus .mobile_list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s ease;
    text-align: right;
  }
  .exc {
    position: relative;
  }

  .options {
  display: none; 
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  width: 100%;
  margin: 10px;
}

  .options.show {
    display: block;
    margin-top: 10.5%;
    top: 0;
  }

  .options a {
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
  display: block;
  text-decoration: none;
  }  
  .logo_name .name {
    font-size: 20px;
  }
}
